:root {
  --main-color: #ebebeb;
  --primary-button: #0090f7;
  --secondary-button: #ffffff;
  --switch: #0b0b0b;
  --text: #0b0b0b;
  --text-alt: #ffffff;
  --font-size-small: 18px;
  --font-size-normal: 22.5px;
  --font-size-large: 28px;
  --font-size-xlarge: 36px;

  --nav-height: 60px;
}

* {
  box-sizing: border-box;
  font-family: monospace !important;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding-top: calc(var(--nav-height) + 15px);
  height: 120vh;
  background: var(--main-color);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-size: 1em;
}

code,
kbd,
samp {
  font-size: 1em;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: var(--nav-height);
  padding-inline: 30px;
  background-color: var(--main-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: var(--font-size-normal);
  word-spacing: -5px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hamburger {
  display: none;
}

.logo {}

.btn {
  width: 200px;
  height: 40px;
  background-color: var(--primary-button);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  border-radius: 10px;
  color: #ffffff;
  font-size: var(--font-size-small);
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.mode-switch {
  width: 80px;
  height: 30px;
  background-color: var(--switch);
  border: 0;
  border-radius: 15px;
  color: var(--text-alt);
  font-size: 16px;
}

.secondary {
  background-color: var(--secondary-button);
  color: #0b0b0b;
}

/* mobile */
@media only screen and (max-width: 576px) {
  body {
    background-color: green;
  }

  .hamburger {
    display: block;
    height: 25px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    background-color: var(--main-color);
  }
}